:host{
    width: 1170px;
    max-width: 100%;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    display: block;
    transition: all ease-in-out .25s;
    -webkit-transition: all ease-in-out .25s;
    -moz-transition: all ease-in-out .25s;
}
:host.maximize{
    width: 100%;
}
:host .ng-data-report{
    padding: 0;
}
:host .ng-data-report mat-toolbar{
    margin:0;
    border-radius: 2px 2px 0 0;
}
:host .ng-data-report mat-card-content{
    margin-bottom: 0;
}
:host .spacer {
    flex: 1 1 auto;
}
:host .search{
    width: 300px;
}
:host .search mat-form-field{
    width: 100%;
    font-size: 15px;
    margin-top: 12px;
    width: 100%;
}
:host .paginator{
    padding: 5px 16px;
    color: #5c5c5c;
    font-weight: 400;
    font-size: 0.8rem;
    background: whitesmoke;
    border-radius: 0 0 2px 2px;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}
:host .paginator mat-form-field{
    width: 70px;
    margin-bottom: -16px;
    padding-top: 0;
    text-align: center;
}
:host .paginator .counter{
    padding-left: 20px;
    padding-right: 20px;
}
.mat-menu-item{
    font-size: 14px;
    line-height: 40px;
    height: 40px;
}